# 1 Imports

In [1]:
import pandas as pd
import os
import glob

# 2 Loading & processing the data

In [2]:
#getting the data from 5 different csvs and combining them in to 1 pandas dataframe
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('../Data/5_animals/', "*.csv"))),ignore_index=True)

#We drop the Recognized=False rows as there is no point in having unrecognized drawings who will not contribute to the training phase.
df = df[df["recognized"]==True].reset_index(drop=True)

#the recognized column is now uneccesary and can be dropped
df = df.drop(columns=['recognized'])

#lets check out the dataframe in its current state
df.head()

,countrycode,drawing,key_id,timestamp,word
0,GB,"[[[114, 97, 74, 54, 35, 17, 7, 1, 0, 4, 21, 47...",4817223078117376,2017-03-09 14:21:20.910430,butterfly
1,RU,"[[[8, 1, 4, 0, 15, 23, 33, 62, 73, 84, 85, 75,...",6574914117042176,2017-03-01 16:39:32.905370,butterfly
2,US,"[[[73, 67, 44, 28, 16, 10, 14, 24, 48, 34, 17,...",5418544609099776,2017-01-30 17:06:37.535510,butterfly
3,CZ,"[[[103, 96, 86, 92, 104, 113, 119, 98], [78, 6...",5955720593801216,2017-03-06 10:15:15.828450,butterfly
4,US,"[[[92, 90, 102, 117, 131, 140, 148, 149, 138, ...",5627133969825792,2017-03-18 00:18:52.148660,butterfly

In [3]:
#finding the amount of rows for each category
df['word'].value_counts()

kangaroo     152511
dog          143285
butterfly    114549
elephant     104986
cat          103031
Name: word, dtype: int64

As you can see above, the dataset is not balanced yet. This will be done in the next step by keeping 10k of each category.

In [4]:
#balancing of the dataset: keep 10000 rows from each animal
df = df.groupby('word').sample(n=10000, random_state=1).reset_index(drop=True)

In [5]:
df['word'].value_counts()

butterfly    10000
cat          10000
dog          10000
elephant     10000
kangaroo     10000
Name: word, dtype: int64

Now there are 10k images of every category in the dataframe. This dataframe combining and filtering the information of the 5 animals will now be written to a csv.

In [6]:
#shuffling the dataframe
df = df.sample(frac=1).reset_index(drop=True) 

# Writing the combined data to a single csv
df.to_csv('../Data/five_animals.csv', index=False)