# 1 Imports

In [3]:
import pandas as pd
import os
import glob

# 2 Loading & processing the data

In [4]:
#getting the data from 5 different csvs and combining them in to 1 pandas dataframe
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('5_animals/', "*.csv"))),ignore_index=True)

#We drop the Recognized=False rows as there is no point in having unrecognized drawings who will not contribute to the training phase.
df = df[df["recognized"]==True].reset_index(drop=True)

#the recognized column is now uneccesary and can be dropped
df = df.drop(columns=['recognized'])

#lets check out the dataframe in its current state
df.head()

,countrycode,drawing,key_id,timestamp,word
0,US,"[[[0, 11, 23, 50, 72, 96, 97, 132, 158, 224, 2...",4926006882205696,2017-03-09 00:28:55.637750,bird
1,US,"[[[65, 194, 221, 240, 250, 255, 251, 242, 227,...",5357674197680128,2017-03-29 04:22:58.822970,bird
2,US,"[[[159, 163, 175, 189, 201, 209, 227, 245, 253...",5553672849195008,2017-03-17 19:31:28.879810,bird
3,DE,"[[[72, 76, 81], [138, 178, 193]], [[87, 116], ...",5635633911431168,2017-03-20 14:13:01.811800,bird
4,US,"[[[0, 5, 22, 45, 68, 90, 106, 113, 137, 155, 1...",5633137012899840,2017-01-30 19:27:48.239960,bird

In [5]:
#finding the amount of rows for each category
df['word'].value_counts()

dog          143285
butterfly    114549
bird         111611
elephant     104986
cat          103031
Name: word, dtype: int64

As you can see above, the dataset is not balanced yet. This will be done in the next step by keeping 10k of each category.

In [6]:
#balancing of the dataset: keep 10000 rows from each animal
df = df.groupby('word').sample(n=10000, random_state=1).reset_index(drop=True)

In [7]:
df['word'].value_counts()

bird         10000
butterfly    10000
cat          10000
dog          10000
elephant     10000
Name: word, dtype: int64

In [8]:
df.to_csv('5_animals.csv')